
<div class="container mx-auto  mt-5   ">
    <h1 class="text-center">Book a Flight</h1>

   <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class=" w-50 m-auto">
      <label ><b>Full Name</b></label>
      <span class="text-danger"  *ngIf="form.get('fullName')?.errors?.['required']" >*</span>
      <input class="form-control mt-3" type="text"  formControlName="fullName">

      <div class="row  mt-3">
        <div class="col ">
          <label ><b>From</b></label>
          <span class="text-danger"  *ngIf="form.get('from')?.errors?.['required']" >*</span>
          <select class="form-control custom-select" formControlName="from">
            <option>ไทย</option>
            <option>ญี่ปุ่น</option>
            <option>เกาหลี</option>
            <option>เยอรมัน</option>
          </select>
        </div>

        <div class="col">
          <label><b>To</b></label>
          <span class="text-danger"  *ngIf="form.get('to')?.errors?.['required']" >*</span>
          <select class="form-control custom-select" formControlName="to">
            <option>ไทย</option>
            <option>ญี่ปุ่น</option>
            <option>เกาหลี</option>
            <option>เยอรมัน</option>
          </select>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <label ><b>Trip Type</b></label>
          <span class="text-danger"  *ngIf="form.get('type')?.errors?.['required']" >*</span> <br>
          <input class="form-check-input " type="radio" name="1"  value="option1"  formControlName="type">
          <label class="form-check-label " >&nbsp; One way&nbsp;</label>

          <input class="form-check-input " type="radio" name="1"  value="option2"  formControlName="type">
          <label class="form-check-label " >&nbsp;Return&nbsp;</label>
        </div>

        <div class="col">
          <mat-label><b>Departure</b></mat-label>
          <span class="text-danger"  *ngIf="form.get('departure')?.errors?.['required']" >*</span>
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="Departurepicker" [min]="startDate" [ngModel]="startDate" formControlName="departure">
            <mat-datepicker-toggle matSuffix [for]="Departurepicker"></mat-datepicker-toggle>
            <mat-datepicker #Departurepicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-label><b>Arrival</b></mat-label>
          <span class="text-danger"  *ngIf="form.get('arrival')?.errors?.['required']" >*</span>
            <mat-form-field appearance="fill">
              <input matInput [matDatepicker]="Arrivalpicker" [min]="form.value.departure" formControlName="arrival">
              <mat-datepicker-toggle matSuffix [for]="Arrivalpicker"></mat-datepicker-toggle>
              <mat-datepicker #Arrivalpicker></mat-datepicker>
            </mat-form-field>

        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <label ><b>Adults</b></label>
          <span class="text-danger"  *ngIf="form.get('adults')?.errors?.['required']" >*</span>
          <input type="number" class="form-control" value="0" min="0" max="10" formControlName="adults">
        </div>
        <div class="col">
          <label ><b>Children</b></label>
          <span class="text-danger"  *ngIf="form.get('children')?.errors?.['required']" >*</span>
          <input type="number" class="form-control" value="0" min="0" max="10" formControlName="children">
        </div>
        <div class="col">
          <label ><b>Infants</b></label>
          <span class="text-danger"  *ngIf="form.get('infants')?.errors?.['required']" >*</span>
          <input type="number" class="form-control" value="0" min="0" max="10" formControlName="infants">
        </div>

      </div>

      <input type="submit" class="form-control mt-3 bg-primary text-white" value="Submit" [disabled]="form.invalid">

    </div>

   </form>
   <hr class="mt-5">

  <table class="table table-bordered mt-5">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Trip Type</th>
        <th scope="col">Departure</th>
        <th scope="col">Arrival</th>
        <th scope="col">Adults</th>
        <th scope="col">Children</th>
        <th scope="col">Infants</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let flight of flight">
        <td>{{ flight.fullName }}</td>
        <td>{{ flight.from }}</td>
        <td>{{ flight.to }}</td>
        <td>{{ flight.type }}</td>
        <td>{{ flight.departure.getDate() + '/' + (flight.departure.getMonth() + 1) + '/' + flight.departure.getFullYear() }}</td>
        <td>{{ flight.arrival.getDate() + '/' + (flight.arrival.getMonth() + 1) + '/' + flight.arrival.getFullYear() }}</td>
        <td>{{ flight.adults }}</td>
        <td>{{ flight.children }}</td>
        <td>{{ flight.infants }}</td>
      </tr>
    </tbody>
  </table>

</div>
